<!DOCTYPE html>
<html ng-app="BlogBook">
<head>
  <title>BlogBook</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/angularApp.js"></script>
  <script src="js/streamController.js"></script>
</head>
<body>
  <div class="stream" ng-controller="streamController">
    <ul>
      <li class="items" ng-model="card">
        <button type="submit" ng-click="callAPI()">test</button>
        <h1>{{card.title}}</h1>
        <p>by {{card.author}}</p>
        <p>on {{sample.posts[0].date}}</p>
        <img ng-src="{{sample.posts[0].author.avatar_URL}}" height="200" width="200"/>
        <p>{{sample.posts[0].content}}</p>
        <p>{{sample.posts[0].URL}}</p>
        <a href="" target="_blank">Read more</a>

      </li>
    </ul>
  </div>

</body>
</html>
