<!DOCTYPE html>
<html ng-app="BlogBook">
<head>
  <title>BlogBook</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/custom_style.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/angularApp.js"></script>
  <script src="js/WPCard.js"></script>
  <script src="js/addLinkCtrl.js"></script>
  <script src="js/streamController.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="stream" ng-controller="streamController">
      <div class="row">
        <div role="tabpanel" class="col-md-10">
        <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" id="home-tab" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#profile" id="profile-tab" aria-controls="profile" role="tab" data-toggle="tab">Makers</a></li>
            <li role="presentation" class="dropdown"><a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">Date<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                <li><a href="#dropdown1" tabindex="1" role="tab" id="dropdpwn1-tab" data-toggle="tab" aria-controls="dropdown1" ng-click="reverse=false">Ascending</a></li>
                <li><a href="#dropdown2" tabindex="1" role="tab" id="dropdpwn2-tab" data-toggle="tab" aria-controls="dropdown2" ng-click="reverse=true">Descending</a></li>
              </li>
                </ul>
              </li>
            </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active bg-info" id="home">
              <p>There are {{cards.length}} cool Makers Blogs</p>
            </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            <div class="btn-group" data-toggle="buttons" ng-repeat="card in cards">
              <label class="btn btn-primary active peoplebutton" ng-click="setFilter($index)" >
                <input type="checkbox" autocomplete="off" checked> {{card.author}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <ul class="new">
          <li class="items panel col-md-5 col-md-offset-5 leave" ng-repeat="card in cards | filter:filters |orderBy:'date':!reverse">
            <h1>{{card.title}}</h1>
            <p>by {{card.author}}</p>
            <p>on {{card.date}}</p>
            <img ng-src="{{card.photo}}" class="featured-image"/>
            <p>{{card.text}}}</p>
            <a href="{{card.link}}" target="__blank">read more</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
