<!DOCTYPE html>
<html ng-app="BlogBook">
<head>
  <title>BlogBook</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/angularApp.js"></script>
  <script src="js/streamController.js"></script>
  <script src="js/wordpressCard.js"></script>
</head>
<body>
  <div class="stream" ng-controller="streamController">
    <ul>
      <li class="items">
        <button type="submit">test</button>
        <h1>{{card.title}}</h1>
        <p>by {{card.author}}</p>
        <p>on {{card.date}}</p>
        <img ng-src="{{card.avatar}}" height="200" width="200"/>
        <p>{{card.text}}}</p>
        <a href="{{card.postURL}}" target="__blank">read more</a>

      </li>
    </ul>
  </div>

</body>
</html>
